*, ::after, ::before {
  box-sizing: border-box;
}

.hero-header {
  font-size: clamp(32px, 8vw, 80px)
}

.rightbar {
  transition: transform 0.3s ease-in-out;
}

.hero {
  background: url("./assets/hero2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.filter {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 